.carousel-item {
    position: relative;
}

.carousel-item::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    z-index: 1;
}

.carousel-caption {
    position: absolute;
    z-index: 2;
}

.carousel-caption {
    position: absolute;
    right: 7%;
    bottom: 0;
    left: 7%;
    padding-top: 0;
    padding-bottom: 0;
    color: #fff;
    height: 100%;
    text-align: left;
    top: 30%;
}

.carousel-item #img-carousel {
    width: 100%;
    height: 75vh;
    object-fit:cover;
}

.carousel-caption h5, p {
    position: relative;
}

.carousel-caption h5 {
    text-transform: uppercase;
    color: white;
    font-weight: 1000;
    padding: 0px 0px;
    display: inline;
    font-size: 50px;
    letter-spacing: 1px;
    line-height: 42px;
    text-shadow: 2px 2px black;
}

.ans{
    margin-top: 35px;
}

.carousel-caption p {
    color: #676767;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 10px 0px;
}

/* Final Carousel */

/* Simule Section */

.faixa-laranja{
    background-image: linear-gradient(120deg, #ff0000, #ff0000, #910e00);
    padding: 60px;
    text-align: center;
    color: white;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    font-size: 32px;
}

.descricao-section{
    padding-bottom: 75px;
}

.conteudo-descricao{
    text-align: center;
    padding-top: 75px;
    margin-bottom: 65px;
}

.conteudo-descricao h1 {
    text-transform: uppercase;
    font-weight: 700;
    color: #ee3027;
}

#descricao-texto strong{
    color: #f2552e;
}

hr{
    margin-bottom: 40px;
}

@media (max-width: 768px) {
    #icone-descricao{
        text-align: center;
        margin-bottom: 25px;
    }

    .itens{
        margin-bottom: 25px;
    }

    .topicos{
        padding: 1em 3em 1em;
    }

    .container .row{
        text-align: center!important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    #icone-descricao{
        text-align: center;
        margin-bottom: 25px;
    }

    .itens{
        margin-bottom: 25px;
    }

    .container .row{
        text-align: center!important;
    }
}
@media (min-width: 991px) {
    #icone-descricao{
        text-align: center;
        margin-bottom: 25px;
    }

}
@media(max-width: 991px){
    .carousel-item #img-carousel {

        height: 55vh;
        object-fit:cover ;
    }
}

.img-garota{
    left: 50%;
    transform: translateX(-25%);
}
